<div class="container">
<div class="row min-vh-100">
  <div class="col-md-12">
    <table class="table contenedor">
      <thead>
      <tr class="text-center">
        <th>ID</th>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>Descripción</th>
        <th>Extras</th>
        <th>Precio</th>
      </tr>
      </thead>
      <tbody>
      <tr class="text-center">
        <td>1</td>
        <td>Burrito</td>
        <td>1</td>
        <td>Tortilla de harina con relleno de carne y verduras</td>
        <td>N/A</td>
        <td>$35</td>
      </tr>
      <tr class="text-center">
        <td>2</td>
        <td>Chilaquiles</td>
        <td>1</td>
        <td>Totopos con salsa verde, acompañada de verduras y crema</td>
        <td>N/A</td>
        <td>$35</td>
      </tr>
      <tr class="text-center">
        <td>3</td>
        <td>Gorditas</td>
        <td>1</td>
        <td>Tortilla de maíz rellena de chicharrón acompañada de verduras</td>
        <td>N/A</td>
        <td>$25</td>
      </tr>
      <tr class="text-center">
        <td>4</td>
        <td>Sandwich</td>
        <td>1</td>
        <td>Sandwich con jamón y queso</td>
        <td>N/A</td>
        <td>$35</td>
      </tr>
      <tr class="text-center">
        <td>5</td>
        <td>Marías</td>
        <td>1</td>
        <td>Galletas sabor a vainilla</td>
        <td>N/A</td>
        <td>$24</td>
      </tr>
      <tr class="text-center">
        <td>6</td>
        <td>Coca Cola</td>
        <td>1</td>
        <td>Bebida gaseosa azucarada</td>
        <td>N/A</td>
        <td>$20</td>
      </tr>
      <tr class="text-end">

      </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
