<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 header">
          <div class="header-card">
            <h2 class="font-title fw-bold" style="color: #f45450">Comida a tus horas</h2>
            <span class="font-subtitle">Disponible</span>
            <button class="header-info"><i class="fas fa-info-circle"></i>&nbsp; Más información</button>
          </div>
          <div class="header-menu" >
            <h2 class="font-title" style="color: #f45450">Menú</h2>
            <ul class="list-unstyled">
              <li class="py-1"> <button class="bar-item"><i class="fas fa-utensils"></i> &nbsp; Todos los productos</button> </li>
              <li class="py-1"> <button class="bar-item"><i class="fas fa-hotdog"></i> &nbsp; Preparado</button> </li>
              <li class="py-1"><button class="bar-item"><i class="fas fa-cookie"></i>&nbsp; Empaquetado</button></li>
              <li class="py-1"><button class="bar-item"><i class="fas fa-coffee"></i>&nbsp; Bebidas</button></li>
            </ul>
          </div>
          <div class="bar-button container-fluid" style="background: #f54849">
            <div class="dimension">
              <button class="btn btn-bar"><i class="fas fa-cart-plus"></i>&nbsp; Total: $ 0</button>
            </div>
            <div class="dimension">
              <button class="btn btn-bar" [routerLink]="['/pedidos']">Ver carrito &nbsp; <i class="fas fa-angle-right"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
