<div class="container-fluid">
<div class="row">
  <div class="col-md-12 w40">
      <app-card class="position-fixed"></app-card>
  </div>
  <div class="col-md-12 w60">
    <div class="row">
      <div class="col-md-12">
        <div>
          <h2 class="separador text-start mx-5">Preparados</h2>
          <hr style="color: var(--back); font-size: 28px;">
        </div>
      </div>
      <div class="col-md-12 mx-5 mt-3">
        <div class="row">
          <div class="col md-4">
            <div class="row">
              <div class="col-md-4 my-auto">
                <img src="assets/img/c.png" alt="" class="img-fluid">
              </div>
              <div class="col-md-8">
                <h2>Burrito</h2>
                <span>Tortilla de harina con relleno de carne y verduras</span> <br>
                <span class="fw-bold text-end">Precio: $35.00</span>
              </div>
            </div>
          </div>
          <div class="col md-4">
            <div class="row">
              <div class="col-md-4 my-auto">
                <img src="assets/img/c.png" alt="" class="img-fluid">
              </div>
              <div class="col-md-8">
                <h2>Chilaquiles</h2>
                <span>Totopos con salsa verde, acompañada de verduras y crema</span> <br>
                <span class="fw-bold text-end">Precio: $35.00</span>
              </div>
            </div>
          </div>
          <div class="col md-4">
            <div class="row">
              <div class="col-md-4 my-auto">
                <img src="assets/img/c.png" alt="" class="img-fluid">
              </div>
              <div class="col-md-8">
                <h2>Cuernito</h2>
                <span>Cuernito relleno de jamón y queso</span> <br>
                <span class="fw-bold text-end">Precio: $25.00</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr style="color: var(--back)" class="mt-3">
      <div class="col-md-12 mx-5 mt-3">
        <div class="row">
          <div class="col md-4">
            <div class="row">
              <div class="col-md-4 my-auto">
                <img src="assets/img/c.png" alt="" class="img-fluid">
              </div>
              <div class="col-md-8">
                <h2>Gordita</h2>
                <span>Tortilla de maiz rellena de chicharron acompañada de verduras</span> <br>
                <span class="fw-bold text-end">Precio: $25.00</span>
              </div>
            </div>
          </div>
          <div class="col md-4">
            <div class="row">
              <div class="col-md-4 my-auto">
                <img src="assets/img/c.png" alt="" class="img-fluid">
              </div>
              <div class="col-md-8">
                <h2>Quesadilla</h2>
                <span>Tortilla de maiz rellena de queso y carne</span> <br>
                <span class="fw-bold text-end">Precio: $25.00</span>
              </div>
            </div>
          </div>
          <div class="col md-4">
            <div class="row">
              <div class="col-md-4 my-auto">
                <img src="assets/img/c.png" alt="" class="img-fluid">
              </div>
              <div class="col-md-8">
                <h2>Sandwich</h2>
                <span>Sandwich con jamón y queso</span> <br>
                <span class="fw-bold text-end">Precio: $35.00</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr style="color: var(--back)" class="mt-3">
    </div>
    <div class="row">
      <div class="col-md-12">
        <div>
          <h2 class="separador text-start mx-5">Empaquetado</h2>
          <hr style="color: var(--back); font-size: 28px;">
        </div>
      </div>
      <div class="col-md-12 mx-5 mt-3">
        <div class="row">
          <div class="col md-4">
            <div class="row">
              <div class="col-md-4 my-auto">
                <img src="assets/img/c.png" alt="" class="img-fluid">
              </div>
              <div class="col-md-8">
                <h2>Chettos</h2>
                <span>Fritura embolsada sabor a queso</span> <br>
                <span class="fw-bold text-end">Precio: $20.00</span>
              </div>
            </div>
          </div>
          <div class="col md-4">
            <div class="row">
              <div class="col-md-4 my-auto">
                <img src="assets/img/c.png" alt="" class="img-fluid">
              </div>
              <div class="col-md-8">
                <h2>Chokis</h2>
                <span>Galletas con chipas de chocolate</span> <br>
                <span class="fw-bold text-end">Precio: $24.00</span>
              </div>
            </div>
          </div>
          <div class="col md-4">
            <div class="row">
              <div class="col-md-4 my-auto">
                <img src="assets/img/c.png" alt="" class="img-fluid">
              </div>
              <div class="col-md-8">
                <h2>Florentinas</h2>
                <span>Galletas sabor a cajeta en forma de tarta</span> <br>
                <span class="fw-bold text-end">Precio: $24.00</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr style="color: var(--back)" class="mt-3">
      <div class="col-md-12 mx-5 mt-3">
        <div class="row">
          <div class="col md-4">
            <div class="row">
              <div class="col-md-4 my-auto">
                <img src="assets/img/c.png" alt="" class="img-fluid">
              </div>
              <div class="col-md-8">
                <h2>Marias</h2>
                <span>Galletas sabor a vainilla</span> <br>
                <span class="fw-bold text-end">Precio: $24.00</span>
              </div>
            </div>
          </div>
          <div class="col md-4">
            <div class="row">
              <div class="col-md-4 my-auto">
                <img src="assets/img/c.png" alt="" class="img-fluid">
              </div>
              <div class="col-md-8">
                <h2>Paquetaxo</h2>
                <span>Variedad de frituras embolsadas sabor a chile</span> <br>
                <span class="fw-bold text-end">Precio: $25.00</span>
              </div>
            </div>
          </div>
          <div class="col md-4">
            <div class="row">
              <div class="col-md-4 my-auto">
                <img src="assets/img/c.png" alt="" class="img-fluid">
              </div>
              <div class="col-md-8">
                <h2>Rancheritos</h2>
                <span>Fritura embolsada sabor a chile y especias</span> <br>
                <span class="fw-bold text-end">Precio: $35.00</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr style="color: var(--back)" class="mt-3">
    </div>
    <div class="row">
      <div class="col-md-12">
        <div>
          <h2 class="separador text-start mx-5">Bebidas</h2>
          <hr style="color: var(--back); font-size: 28px;">
        </div>
      </div>
      <div class="col-md-12 mx-5 mt-3">
        <div class="row">
          <div class="col md-4">
            <div class="row">
              <div class="col-md-4 my-auto">
                <img src="assets/img/c.png" alt="" class="img-fluid">
              </div>
              <div class="col-md-8">
                <h2>Agua Simple</h2>
                <span>Agua simple embotellada</span> <br>
                <span class="fw-bold text-end">Precio: $12.00</span>
              </div>
            </div>
          </div>
          <div class="col md-4">
            <div class="row">
              <div class="col-md-4 my-auto">
                <img src="assets/img/c.png" alt="" class="img-fluid">
              </div>
              <div class="col-md-8">
                <h2>Boing mango</h2>
                <span>Bebida azucarada sabor a jugo de mango</span> <br>
                <span class="fw-bold text-end">Precio: $15.00</span>
              </div>
            </div>
          </div>
          <div class="col md-4">
            <div class="row">
              <div class="col-md-4 my-auto">
                <img src="assets/img/c.png" alt="" class="img-fluid">
              </div>
              <div class="col-md-8">
                <h2>Boing manzana</h2>
                <span>Bebida azucarada sabor a jugo de manzana</span> <br>
                <span class="fw-bold text-end">Precio: $15.00</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr style="color: var(--back)" class="mt-3">
      <div class="col-md-12 mx-5 mt-3">
        <div class="row">
          <div class="col md-4">
            <div class="row">
              <div class="col-md-4 my-auto">
                <img src="assets/img/c.png" alt="" class="img-fluid">
              </div>
              <div class="col-md-8">
                <h2>Boing fresa</h2>
                <span>Bebida azucarada sabor a jugo de fresa</span> <br>
                <span class="fw-bold text-end">Precio: $15.00</span>
              </div>
            </div>
          </div>
          <div class="col md-4">
            <div class="row">
              <div class="col-md-4 my-auto">
                <img src="assets/img/c.png" alt="" class="img-fluid">
              </div>
              <div class="col-md-8">
                <h2>Coca Cola</h2>
                <span>Bebida gaseosa azucarada</span> <br>
                <span class="fw-bold text-end">Precio: $20.00</span>
              </div>
            </div>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
      <hr style="color: var(--back)" class="mt-3">
    </div>
  </div>
</div>
</div>
