<!--<div class="card-top container-fluid">
  <div class="container d-flex margenSuperior">
    <div class="item">
      <a href="">
        <i class="fas fa-utensils" style="font-size: 50px;"></i>
        <h5 class="font-subtitle">Todos los productos</h5>
      </a>
    </div>
    <div class="item">
      <a href="">
        <i class="fas fa-hotdog" style="font-size: 50px;"></i>
        <h5 class="font-subtitle">Preparados</h5>
      </a>
    </div>
    <div class="item">
      <a href="">
        <i class="fas fa-cookie" style="font-size: 50px;"></i>
        <h5 class="font-subtitle">Empaquetados</h5>
      </a>
    </div>
    <div class="item">
      <a href="">
        <i class="fas fa-coffee" style="font-size: 50px;"></i>
        <h5 class="font-subtitle">Bebidas</h5>
      </a>
    </div>
  </div>
</div>-->
<div><app-card></app-card></div>

<div class="container">
  <div class="row">
    <ng-container *ngFor="let item of productList">
      <div class="card col-md-3">
        <img src="{{item.image}}" alt="">
        <h5 class="ngfor">{{item.title}}</h5>
        <p class="ngfor">{{item.description}}</p>
        <p class="text-end"><strong class="fw-bold">Precio: $ {{item.price}}</strong></p>
        <button class="btn btn-outline-info" (click)="addToCart(item);"> <i class="fas fa-cart-plus"></i> &nbsp; Agregar producto</button>
      </div>
    </ng-container>
  </div>
</div>
