<div class="card-top container-fluid">
  <div class="container d-flex margenSuperior">
    <div class="item">
      <a [routerLink]="['/ver-producto']">
        <i class="fas fa-utensils" style="font-size: 50px;"></i>
        <h5 class="font-subtitle">Administrar productos</h5>
      </a>
    </div>
    <div class="item">
      <a [routerLink]="['/ver-empleado']">
        <i class="fas fa-users" style="font-size: 50px;"></i>
        <h5 class="font-subtitle">Administración de empleados</h5>
      </a>
    </div>
    <div class="item">
      <a [routerLink]="['/pedidos-emp']">
        <i class="fas fa-cart-arrow-down" style="font-size: 50px;"></i>
        <h5 class="font-subtitle">Pedidos</h5>
      </a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

  </div>
</div>

