<div class="container-fluid py-2 position-fixed" style="background: var(--black)">
  <div class="row">
    <div class="col-md-12 mx-5">
      <div class="row">
        <div class="col-md-8 text-start">
          <img src="assets/img/c.png" [routerLink]="['/home']" style="cursor: pointer;" alt="" class="img-fluid w-10">
          <span class="font-title ms-3">Comidas a tus horas</span>
        </div>
        <div class="col-md-4 text-end my-auto pt-2">
          <input type="text" class="form-control w-50" placeholder="Buscar..">
        </div>
      </div>
    </div>
  </div>
</div>
